@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Poppins", "Roboto", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
textarea,
select,
label,
div {
  font-family: "Inter", "Poppins", "Roboto", sans-serif;
}

body {
  font-family: "Inter", "Poppins", "Roboto", sans-serif;
}
